extends ./common/header
block header
   .container 
      h1.alert.alert-primary Hello World!
      h6.alert.alert-success My name's Tâm Tỏ Trần 
      h6.alert.alert-success My Birthday: 06/07/2000
      h6.alert.alert-success Email: tamtotran5667@gmail.com
      h6.alert.alert-success Phone: 0355933881