extends ../common/header
block header
        a(href="/user")
                button.ml-5(class="btn btn-primary") Home

        .bg-light.w-50.m-auto.h-50(style="text-align: center")
                h3(style="padding-top: 10px") Cart
                .container
                    h5.mb-2.mt-5 No items to show in the cart
                    button.btn.btn-primarymt-5 Continue Shopping
